
.all-todos{
    background-color: lightgreen;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.column{
    flex-direction: column !important;
    align-items: normal !important;
}


.todo-data-heading{
    font-size: 20px;
    margin: 4px;
    color: black
}

.style-item{
    color:black;
    font-style: italic;
    font-weight: bold;
}

.dropdown-all-todos{
    color:magenta;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none !important;
    width: 92%;
    height: 50px;
    padding: 6px;
    border-width: 0px;
    border-radius: 8px;
    background-color: lavender;
}

.all-todos-input-element{
    color:magenta;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    outline: none !important;
    width: 92%;
    height: 50px;
    padding: 6px;
    border-width: 0px;
    border-radius: 8px;
    background-color: lavender;
}

.filter-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:100%
    
}

.filter-container-1{
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: plum;
    padding: 10px;
}

.btn1{
    width:100% !important;
}


.delete-all-todos-button{
    width:100%;
    box-sizing: border-box;
}



.heading{
    font-size: 20px;
    margin: 4px;
    color:red;
}


.special-input{
    width: 100%;
    height: 50px;
}
@media screen and (min-width: 768px){
    
    .todo-data-heading{
        font-size: 24px;
    }
    .dropdown-all-todos{
        width: 260px;
    }
    .filter-container-1{
        flex-direction: row;
    }

    .all-todos-input-element{
        width: 260px;
    }
    .heading{
        font-size: 30px;
    }
    
}