body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.edit-mode{
  margin: 10px 0px;
  color:magenta !important
}

.edit-mode option{
  background-color: black;
}

.todo-form-container {
  width: 100%;
  padding: 10px;
  background-color: magenta;
  border-radius: 10px;

}

.welcome-heading {
  font-size: 24px;
}

.create-task-heading {
  font-size: 24px;
  text-align: center;
  color: #FF1493;
  font-weight: bold;
}

.btn {
  margin: 10px 0px;
}

.formatted-date-heading {
  color: blue;
}

.confetti-container {
  position: relative;
  z-index: 1000;
}

.todo-image-1 {
  width: 100%;
  border-radius: 10px;
}

.fetch-todos-heading {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0px;
}

.each-todo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px;
  background: linear-gradient(130deg, #FADADD, #FFF2CC, #D9EAD3, #CFE2F3, #EAD1DC);
  border-radius: 8px;
  cursor: pointer;
  color: black;
  transition: all 0.5s ease;
}

.no-todos-content {
  font-weight: bold;
  font-size: 20px;
}

.filter-heading {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: magenta
}

.remove-filters-button {
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  background-color: lavender;
  font-weight: bold;
}

.remove-filters-button:disabled {
  opacity: 0.6;
  background-color: grey;
  cursor: not-allowed;
}

.delete-all-todos-button {
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  background-color: red;
  font-weight: bold;
  color: white;
}

.update-todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 6px;
}

.popup-content {
  z-index: 2000 !important;
  /* Ensure it's above the header */
  position: relative;
  /* Maintain correct placement */
  bottom: 0;
  left: 0;
  right: 0;
}

.update-heading {
  font-size: 24px;
  color: #FF9800;
  font-weight: bold;
}

.todo-checkbox {
  width: 20px;
  height: 20px;
  max-width: 40px;
  max-height: 40px;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;
}

.filter-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px
}

.delete-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

}

.filters-container {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  gap: 4px;
  width: 100%;
}

@media screen and (min-width:768px) {
  .filters-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.filter-container {
  width: 100%;
  background-color: #E8F5E3;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.todo-input {
  width: 100%;
  font-size: 12px;
}

.todo-display {
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
}

.no-todos-container {
  display: grid;
  place-items: center;
  margin-top: 50px;
  text-align: center;

}

.main-container {
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 10px;
  margin-bottom: 80px;
  background-color: #FFDAB9;

}

@media screen and (min-width:768px) {
  .main-container {
    left: 250px;
    margin-bottom: 0px;
  }

  .todo-input {
    font-size: 22px;
  }
}

.skeleton {
  height: 120px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 4px;
  background: linear-gradient(90deg,
      90deg,
    #e6eaf0 0%,
    #f8fbff 50%,
    #e6eaf0 100%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.2s infinite ease;
}

@keyframes skeleton-loading {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

.date-wrapper {
  width: 100%;
  height: 50px;
  border-radius: 6px;
  box-sizing: border-box;
}

.date-element {
  padding: 8px 12px;
  font-size: 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
  background-color: white;
  color: black;
  outline: none;
  height: 50px;
  width: 100%;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.date-element:focus {
  border-color: orangered;
  box-shadow: 0 0 0 2px rgba(255, 69, 0, 0.2);
}

.floating-plus-btn {
  position: fixed;
  bottom: 80px;
  right: 20px;
  cursor: pointer;
  z-index: 999;
  border-radius: 50%;
  transition: all 0.8s ease;
}

.floating-plus-btn:hover {
  transform: scale(1.1);
}

@media screen and (min-width:992px) {
  .floating-plus-btn {
    bottom: 20px
  }

  .date-element {
    font-size: 22px;
  }
}

.todo-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
  margin-top: 10px;
}

.icon {
  border: none;
  background-color: transparent;
  font-size: 24px;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .todo-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .each-todo {
    min-height: 35px;
  }

  .todo-image-1 {
    width: 400px;
  }

  .todo-display {
    font-size: 26px;
  }

  .fetch-todos-heading {
    font-size: 30px;
  }
}

@media screen and (min-width:1200px) {
  .todo-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width:768px) {
  .todo-checkbox {
    margin-right: 10px;
  }

  .welcome-heading {
    font-size: 40px;
  }
}

.update-date-wrapper{
  background-color: lavender;
  width: 100%;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
  gap:4px
}