
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to right,skyblue,dodgerblue);
    position: sticky;
    top:0px;
    right:0px;
    z-index:100;
    left:0px;
}


.todo-logo{
    width: 90px;
    height: 90px;
    cursor: pointer;
}


.todo-logo:hover{
    transform: scale(1.02);
}

.buttons-container{
    display: flex;
    justify-content: space-between;
    gap:10px
}

.login-button{
    background: linear-gradient(to right, #00FFB2, #2ECC71);
    border-width:0px;
    border-radius: 8px;
    width:80px;
    height: 50px;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.login-button:hover{
    background: linear-gradient(to right, #2ECC71, #00FFB2);
    transform: scale(1.02);
    color: #000;
}



.signup-button{
    background: linear-gradient(to right, #FF9500, #FF5722); /* Bright Orange to Deep Orange */
    border-width:0px;
    border-radius: 8px;
    width:80px;
    height: 50px;
    cursor: pointer;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.signup-button:hover{
    background: linear-gradient(to right, #FF5722, #FF9500); 
    transform: scale(1.02);
    color: #000;
}


@media screen and (min-width: 768px) {
    .login-button{
        width: 120px;
        font-size: 22px;
    }
    .signup-button{
        width: 120px;
        font-size: 22px;
    }
}