

@media screen and (min-width:1200px){
    aside{
        display: block;
    }
}

h1,
p {
    margin: 5px;
}

.flex-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin:10px;
    border-radius: 6px;
    padding: 5px;
}

