.dashboard-container{
    background-color: #E8F5E3;
    border-radius: 6px;
    min-height: calc(100% - 10px);
}
.dashboard-heading{
    font-size: 24px;
    text-align: center;
    color: blue;
}

.dashboard-content{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}