.dashboard-container{
    margin-top: 120px;
    min-height:150vh;
    margin-bottom: 150px;
}

.dashboard-heading{
    font-size: 24px;
    text-align: center;
    color: blue;
}

.dashboard-content{
    font-size: 16px;
    text-align: center;
    font-weight: 600;
}