
.filter-range-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;

}

.date-dropdown{
    height: 40px;
    outline: none;
    width: 90px;
    cursor: pointer;
    border-width: 0px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: lavender;
}

.chart-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:inherit
}

.chart-title{
    font-size: 18px;
    color: inherit;
}

.chart-description{
    font-size: 16px;
    color:inherit;
}

.x-axis-label{
    font-size: 20px;
    font-weight: bold;
}

.new-user{
    font-size: 20px;
    text-align: center;
    color:red;
    font-weight: bold;
}

.graph-container{
    overflow-x:scroll;
    scrollbar-width: none;
}

@media screen and (min-width:768px){
    .new-user{
        font-size: 30px;
    }
    .chart-title{
        font-size: 24px;

    }
    .chart-description{
        font-size: 22px;
    }
    
    .date-dropdown{
        width: 200px;
    }

}