.login-image{
    width:100%;
    cursor:pointer;
    border-radius: 10px;
    transition: 0.6s all ease;
}

.login-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 20px;
    padding: 10px;
    background-color: black;
    place-items: center;
    min-height: calc(100vh - 10px);
    border-radius: 10px;
}

/* .login-container{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    gap:10px;
    background-color: black;

} */

.container{
    width:100%;
}

.eye{
    position: absolute;
    left:90%;
    top:15px;
    bottom:23px;
    font-size: 20px;
}

.dropdown{
    margin-bottom: 10px;
}

.form-container {
    width: 100%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center; 
    padding: 8px; 
    border-radius: 8px; 
    background: lightblue;
    cursor: pointer; 
}



.input-wrapper{
    position: relative;
}


.label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-self: flex-start;
    font-size: 16px;
    color: black;
    position: absolute;
    left:10px;
    top:10px;
    pointer-events: none;
    transition: 0.6s;
    background:white;
    padding: 4px;
    outline: none;
    border-radius: 10px;
    color: magenta;
    font-weight: 600;

}

.checkbox{
    cursor: pointer;
    outline: none;
    width: 17px;
    height: 17px;
}

.input-element{
    color:magenta;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    outline: none !important;
    width: 100%;
    height: 50px;
    padding: 6px;
    border-width: 0px;
    border-radius: 8px;
    background-color:mintcream;
    margin-bottom: 15px;
    /* border: 1px solid black;*/
} 

.input-element:focus+.label,
.input-element:valid+.label{
    top:-16px
}


.login-button-form{
    background-color: mintcream;
    font-size: 18px;
    border-width:0px;
    border-radius: 8px;
    width:100%;
    height: 45px;
    cursor: pointer;
    outline: none;
    color: black;
    background-color: greenyellow;
    font-weight: bold;
}

.login-button-form:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: lightgrey;
  }
  
.success-msg{
    color:green;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}


.checkbox-container{
    display: flex;
    align-items: center;
    cursor: pointer;
    gap:10px
}

.error-message {
    color: red;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
  }

  .login-text{
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    color: black;
    cursor: pointer;
  }
  .login-text:hover{
    color:blue;
  }


@media screen and (min-width: 768px){
    
    .login-container{
        grid-template-columns: repeat(2,1fr);
    }

    .form-container{
        min-height: 390px;
    }

    .error-message{
        font-size: 18px;
    }

    .label{
        font-size: 18px;
    }

    .eye{
       left:95%
    }
    
    
}


