@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Lobster&family=Courier+Prime&display=swap');
*{
  box-sizing: border-box;
}
body{
  padding: 5px;
}

.under-working{
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color:red;
  padding: 4px;
  margin: 4px;
}

.error-msg{
  font-size: 24px;
  font-weight: bold;
  color:red
}